<div class="row">
  <form action="/carraway/update" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PATCH">
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>カテゴリー</th>
            <th>Path</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @post.category.title %></td>
            <td>
              <%= @post.path %>
              <input type="hidden" name="path" value="<%= @post.path %>">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="input-field col s12">
        <input type="text" id="title" name="title" placeholder="記事タイトル" value="<%= @post.title %>">
        <label for="title">記事タイトル</label>
      </div>
      <div class="input-field col s12">
        <textarea id="body" name="body" class="materialize-textarea"><%= @post.body %></textarea>
        <label for="body">本文</label>
      </div>
    </div>
    <div class="col s6">
      <button type="submit" class="waves-effect waves-light btn">保存</button>
    </div>
  </form>
  <a class="waves-effect waves-light btn blue" href="<%= "/carraway/preview#{@post.path}" %>" target="_blank">プレビュー</a>
  <% if @post.published %>
    <form action="/carraway/unpublish" method="POST" class="col s12">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="path" value="<%= @post.path %>">
      <div class="col s6">
        <button type="submit" class="waves-effect waves-light btn orange">非公開</button>
      </div>
    </form>
  <% else %>
    <form action="/carraway/publish" method="POST" class="col s12">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="path" value="<%= @post.path %>">
      <div class="input-field col s12">
        <input type="text" id="published" name="published" value="<%= @post.published_at %>" placeholder="2018-09-01 12:00:00">
        <label for="published">公開日</label>
      </div>
      <div class="col s6">
        <button type="submit" class="waves-effect waves-light btn orange">公開</button>
      </div>
    </form>
  <% end %>
  <form action="/carraway/destroy" method="POST" class="col s12">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="path" value="<%= @post.path %>">
    <div class="col s6">
      <button type="submit" class="waves-effect waves-light btn red">削除</button>
    </div>
  </form>
</div>
