<div class="row">
  <form action="/carraway/update" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PATCH">
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>カテゴリー</th>
            <th>Path</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @post.category.title %></td>
            <td>
              <%= @post.path %>
              <input type="hidden" name="uid" value="<%= @post.uid %>">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="input-field col s12">
        <input type="text" id="title" name="title" placeholder="記事タイトル" value="<%= @post.title %>">
        <label for="title">記事タイトル</label>
      </div>
      <div class="input-field col s12">
        <textarea id="body" name="body" class="materialize-textarea"><%= @post.body %></textarea>
        <label for="body">本文</label>
      </div>
    </div>
    <div class="col s6">
      <button type="submit" class="waves-effect waves-light btn">保存</button>
    </div>
  </form>
  <a class="waves-effect waves-light btn modal-trigger" href="#file-modal">ファイルをリンク</a>
  <div id="file-modal" class="modal">
    <div class="modal-content">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>作成日</th>
            <th>パス</th>
          </tr>
        </thead>
        <tbody>
          <% @files.each do |file| %>
            <tr>
              <td><button onclick="useFile('<%= file.title %>', '<%= file.path%>')">使う</button></td>
              <td><%= file.title %></td>
              <td><%= file.created_at %></td>
              <td><%= file.path %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">閉じる</a>
    </div>
  </div>

  <a class="waves-effect waves-light btn blue" href="<%= "/carraway/preview/#{@post.uid}" %>" target="_blank">プレビュー</a>
  <% if @post.published %>
    <form action="/carraway/unpublish" method="POST" class="col s12">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="uid" value="<%= @post.uid %>">
      <div class="col s6">
        <button type="submit" class="waves-effect waves-light btn orange">非公開</button>
      </div>
    </form>
  <% else %>
    <form action="/carraway/publish" method="POST" class="col s12">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="uid" value="<%= @post.uid %>">
      <div class="input-field col s12">
        <input type="text" id="published" name="published" value="<%= @post.published_at %>" placeholder="2018-09-01 12:00:00">
        <label for="published">公開日</label>
      </div>
      <div class="col s6">
        <button type="submit" class="waves-effect waves-light btn orange">公開</button>
      </div>
    </form>
  <% end %>
  <form action="/carraway/destroy" method="POST" class="col s12">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="uid" value="<%= @post.uid %>">
    <div class="col s6">
      <button type="submit" class="waves-effect waves-light btn red">削除</button>
    </div>
  </form>
</div>
<script>
 var useFile = function(title, path) {
   var body = document.getElementById('body');
   body.value = body.value + '[' + title + '](/' + path + ')'
 }

 document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.modal');
   var instances = M.Modal.init(elems);
 });
</script>
