<h3>Files</h3>
<div class="row">
  <form action="/carraway/files" method="POST" class="col s12" enctype="multipart/form-data">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="title" name="title" placeholder="ファイルタイトル">
        <label for="title">ファイルタイトル</label>
      </div>
      <div class="input-field col s12">
        <input type="file" id="file" name="file" placeholder="ファイル">
      </div>
      <label>記事カテゴリー</label>
      <select name="category" class="browser-default">
        <option value="" disabled selected>記事カテゴリーを選択</option>
        <% Carraway::Category.all.each do |category| %>
          <option value="<%= category.key %>"><%= category.title %></option>
        <% end %>
      </select>
      <% Carraway::Config.labels.each do |key, title| %>
        <p>
          <label>
            <input type="checkbox" class="filled-in" name="labels[]" value="<%= key %>" />
            <span><%= title %></span>
          </label>
        </p>
      <% end %>
    </div>

    <button type="submit" class="waves-effect waves-light btn">保存</button>
  </form>
</div>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>作成日</th>
      <th>パス</th>
    </tr>
  </thead>
  <tbody>
    <% @files.each do |file| %>
      <tr>
        <td>
          <a href="/carraway/files/<%= file.uid%>">
            <%= file.title %>
          </a>
        </td>
        <td><%= file.created_at %></td>
        <td><%= file.path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
