<h3><%= @file.title %></h3>
<p><%= @file.path %></p>
<div class="row">
  <form action="/carraway/files/<%= @file.uid %>" method="POST" class="col s12" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PATCH">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="title" name="title" placeholder="ファイルタイトル" value="<%= @file.title %>" >
        <label for="title">ファイルタイトル</label>
      </div>
    </div>

    <button type="submit" class="waves-effect waves-light btn">保存</button>
  </form>
  <form action="/carraway/files/<%= @file.uid %>" method="POST" class="col s12">
    <input type="hidden" name="_method" value="DELETE">
    <div class="col s6">
      <button type="submit" class="waves-effect waves-light btn red">削除</button>
    </div>
  </form>
</div>
